<%= form_for(profile) do |f| %>
<% if profile.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :github %>
  <%= f.text_field :github %>
</div>

<div class="field">
  <%= f.label :bio %>
  <%= f.text_area :bio %>
</div>

<%= f.fields_for :skills do |skill_form| %>
<%= skill_form.label :name%>
<%= skill_form.text_field :name%>

<div class="field">
  <%= skill_form.label :years%>
  <%= skill_form.text_field :years%>
</div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
