<p id="notice"><%= notice %></p>
<%= image_tag @profile.avatar.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Github:</strong>
  <%= @profile.github %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>


<p>
  <strong>Skills:</strong>
  <% @profile.skills.each do |skill| %>
  <td><%= skill.name %></td>
  <% end %>
</p>

<p>
  <strong>Jobs:</strong>
  <% @profile.jobs.each do |job| %>
  <td><%= job.title %></td>
  <% end%>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
