<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui raised very padded text container segment">
      <%= yield %>
    </div>
    <!-- <div class="outer-wrapper">
      <%= yield %>
    </div> -->
  </body>
</html>
